<h1>Friends Share Recipes!</h1>

<%= link_to "Add Recipe", new_recipe_path %>
&emsp;
<%= link_to "My Recipes", recipes_path(:user => 1) %>
&emsp;
<% greeting = "Hello, #{current_user.name}" %>
<%= link_to greeting, edit_user_registration_path %>
&emsp;
<%= link_to "Logout", destroy_user_session_path, :method => :delete %>

<br />
<br />
<%= form_for @recipe do |f| %>
  <div>
    <%= f.label :title %><br />
    <%= f.text_field :title %><br />
  </div>
  <div>
    <%= f.label :body %><br />
    <%= f.text_area :body %><br />
  </div>
  <div>
    <%= f.submit "Submit" %>
  </div>
<% end %>

<br />
<%= link_to "Cancel", :back %>