<%= render :partial => 'form' %>

<h2> <%= @recipe.title %></h2>
<h4> by <%= @author.name %> </h4>

<p> <% lines = @recipe.body.split( "\n" ) %>
     <% lines.each do |line| %>
        <%= line %><br />
     <% end %>
</p>

<%= link_to "Edit", edit_recipe_path %>
&emsp;
<%= link_to "Back to Recipes", recipes_path %>

