<h1>Friends Share Recipes!</h1>

<%= link_to "Add Recipe", new_recipe_path %>
&emsp;
<%= link_to "My Recipes", recipes_path(:user => 1) %>
&emsp;
<% greeting = "Hello, #{current_user.name}" %>
<%= link_to greeting, edit_user_registration_path %>
&emsp;
<%= link_to "Logout", destroy_user_session_path, :method => :delete %>


<h2> <%= @recipe.title %></h2>
<h4> by <%= @author.name %> </h4>

<p> <% lines = @recipe.body.split( "\n" ) %>
     <% lines.each do |line| %>
        <%= line %><br />
     <% end %>
</p>

<%= link_to "Edit", edit_recipe_path %>
&emsp;
<%= link_to "Back to Recipes", recipes_path %>

